// Define variables for your color scheme

// For example:
$red: #ef2833;
$blue: #205375;
$yellow: #ffc65a;
$orange: #fb723b;
$mandarin-orange: #e29647;
$green: #46be7f;
$forest: #548b6e;
$gray: #0e0000;
$coral: #c06d58;
$tinted-coral: #f0e5e2;
$shadow: rgba(25, 25, 25, 0.3);
$card-p: #a59e92;
$card-p-highlight: #c0b9ae;
$card-highlight: #eae7e3;
$body: #fffdfa;
