// Define variables for your color scheme

// For example:
$red: #f46262;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e6a62e;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$base: #efe6d6;
$base-highlight: #cfbca8;
$light-highlight: #d8c3ae;
$shadow: #cccccc;
$light: #f8f3e6;
