// Define variables for your color scheme

// For example:
$red: #EF2833;
$blue: #205375;
$yellow: #ffc65a;
$orange: #FB723B;
$mandarin-orange: #e29647;
$green: #46be7f;
$forest: #548b6e;
$gray: #0e0000;
$coral: #c06d58;
$tinted-coral: #F0E5E2;
$shadow: rgba(0, 0, 0, .3);
$card-p: #a59e92;
$card-p-highlight: #c0b9ae;
$card-highlight: #eae7e3;
$body: #FFFDFA;
