.background-image {
  background-image: url("https://images.unsplash.com/photo-1585779034823-7e9ac8faec70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  z-index: -98;
  width: 100vw;
  height: calc(100vh - 56px);
  // width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  // object-fit: cover;
}

#flatmate-container {
  width: 70%;
  border-style: solid;
  box-shadow: 1px 3px 5px rgba($color: #000000, $alpha: 0.4);
  padding: 16px;
  // margin-top: 50%;
  border-radius: 16px;
  border-width: 1px;
  background-color: white;
}

.text-shadow {
  text-shadow: 2px 2px #3d3d3d;
}

.flatmate-li {
  list-style-type: none;
  border: 1px solid grey;
  padding: 4px 8px;
  margin: 12px 0;
  color: #888888;
  box-shadow: 1px 3px 5px rgba($color: #000000, $alpha: 0.4);
}
$outline: rgba(#fff, .4);
@keyframes glow {
  from {
    text-shadow: 0 0 40px #a92d2d;
  }
  to {
    text-shadow: 0 0 60px #c13434, 0 0 10px #c74d4d;
  }
}
@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
#house {
  animation: flicker 3s linear ;
  opacity: .99;
  text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  color: $orange;
}
