<div class="chore-tab">
  <ul>
    <li class="my-chore-list status tablinks" onclick="openCards(event, 'incomplete')" >
      <a>
        <span class="icon"><i class="fal fa-exclamation-triangle"></i></span>
        <span class="text">Incomplete</span>
      </a>
    </li>
    <li class="my-chore-list tablinks" onclick="openCards(event, 'to-do')" id="defaultOpen" >
      <a >
        <span class="icon"><i class="fa-light fa-timer"></i></span>
        <span class="text">To do</span>
      </a>
    </li>
    <li class="my-chore-list tablinks" onclick="openCards(event, 'completed')">
      <a >
        <span class="icon"><i class="fa-light fa-box-check"></i></span>
        <span class="text">Completed</span>
      </a>
    </li>
    <li class="my-chore-list tablinks" onclick="openCards(event, 'upcoming')">
      <a >
        <span class="icon"><i class="fa-light fa-hourglass-clock"></i></span>
        <span class="text">Upcoming</span>
      </a>
    </li>
    <div class="indicator"></div>
  </ul>
</div>

<script>
const list = document.querySelectorAll(".my-chore-list");
function activeLink() {
  list.forEach((item) => {
    item.classList.remove("status");
    this.classList.add("status");
  });
}

list.forEach((item) => {
  item.addEventListener("click", activeLink);
  console.log("test");
});
</script>

<script>
function openCards(evt, cardName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cardName).style.display = "block";
  evt.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();
</script>
