<%# <%= render "template" %>
<div class="cards-frame tabcontent" id="completed">
  <div class="chore-list-header">
    <h1 class="chore-list-title">Completed chores</h1>
  </div>
  <!-- Slider main container -->
  <div class="swiper3" data-controller="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% if @completed.blank? %>
      <div class="swiper-slide">No chores to display</div>
      <% else %> <% @completed.keys.each do |task| %>
      <div class="swiper-slide">
        <div class="card">
          <div class="d-flex">
            <div class="vl" style="background-color: #548b6e"></div>

            <div class="card-body">
              <div class="card-title">
                <h4><%= task.capitalize %></h4>
              </div>
              <div class="card-duration">
                <p>
                  <i class="fa-solid fa-clock-rotate-left"></i> Takes <%=
                  @completed[task].first.duration %>mins <br />
                </p>
              </div>
              <div class="card-instances">
                <p><%= @completed[task].count %>X completed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %> <% end %>
    </div>
    <!-- If we need pagination -->
    <div class=".pagination-swiper3"></div>
  </div>
</div>
