<%# <%= render "template" %>
<div class="cards-frame tabcontent" id="upcoming">
  <h1>Upcoming chores</h1>
  <!-- Slider main container -->
  <div class="swiper4">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% if @upcoming.blank? %>
        <div class="swiper-slide">No chores to display</div>
      <% else %>
      <% @upcoming.each do |task| %>
          <div class="swiper-slide">
            <div class="card">
              <div class="d-flex">
                      <div class="vl"></div>

                      <div class="card-body">
                        <div class="card-title">
                          <h4><%= task.chore.name %></h4>
                        </div>
                        <div class="card-duration">
                          <p>
                            <i class="fa-solid fa-clock-rotate-left"></i> Takes <%=
                            task.chore.duration %>mins <br />
                            By <%= task.deadline.strftime("%A, %d/%m/%y") %>
                          </p>
                        </div>
                      </div>
              </div>
            </div>
          </div>
      <% end %>
      <% end %>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination4"></div>

    <!-- If we need navigation buttons -->
    <%#
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    %>

    <!-- If we need scrollbar -->
    <%#
    <div class="swiper-scrollbar"></div>
    %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
      const swiper4 = new Swiper(".swiper4", {
        // Optional parameters
        direction: "horizontal",
        effect: "cards",
        grabCursor: true,

        // If we need pagination
        pagination: {
          el: ".swiper-pagination4",
        },

        // Navigation arrows
        // navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },

        // And if we need scrollbar
        // scrollbar: {
        //   el: ".swiper-scrollbar",
        // },
      });
    </script>
  </div>
</div>
