<h1>My chores page</h1>

<div class="container">
  <div class="d-flex justify-content-center flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight" style="text-align: center">
      <h2>Overdued</h2>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="card">
            <div class="card-title">chore title</div>
            <div class="card-duration">chore duration</div>
            <div class="card-deadline bg-danger bg-gradient">chore deadline</div>
            <div class="card-mark-complete">mark as complete</div>
          </div>
        </div>
      </div>

    </div>
    <div class="p-2 bd-highlight" style="text-align: center">
      <h2>To-do</h2>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="card">
            <div class="card-title">chore title</div>
            <div class="card-duration">chore duration</div>
            <div class="card-deadline bg-warning bg-gradient">chore deadline</div>
            <div class="card-mark-complete">mark as complete</div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 bd-highlight" style="text-align: center">
      <h2>Completed</h2>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="card">
            <div class="card-title">chore title</div>
            <div class="card-duration">chore duration</div>
            <div class="card-deadline bg-success bg-gradient">chore deadline</div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 bd-highlight" style="text-align: center">
      <h2>Upcoming</h2>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="card">
            <div class="card-title">chore title</div>
            <div class="card-duration">chore duration</div>
            <div class="card-deadline bg-secondary bg-gradient">chore deadline</div>
            <div class="card-mark-complete">mark as complete</div>
          </div>
        </div>
      </div>
  </div>
</div>
