<% @chorelists %>
<div class="box">
  <h1>Incomplete Chores</h1>
    <%= render "overdue", locals: {incomplete: @incomplete} %>
</div>
<div class="box">
  <h1>Chores to do now</h1>
    <%= render "to_do", locals: {to_do: @to_do} %>
</div>
<div class="box">
  <h1>Completed chores</h1>
    <%= render "completed", locals: {completed: @completed} %>
</div>
<div class="box">
  <h1>Upcoming chores</h1>
    <%= render "upcoming", locals: {upcoming: @upcoming} %>
</div>
