<!-- Button trigger modal -->
<button type="button" <%= status %> class="btn-orange" data-bs-toggle="modal" data-bs-target="#exampleModal" id="confirm_btn">
  Confirm
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Time to setup your flat's chore</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <span>
          Would you like to select from our chore list or create all from scratch?
        </span>
      <div class="btn-container d-flex gap-3 mt-3">
        <button type="button" class="btn-orange">
          <%= link_to "Create from scratch", setup_chores_flat_path(@flat), style: 'color: white;' %>
        </button>
        <button type="button" class="btn-orange">
          <%= link_to setup_chores_flat_path(@flat), style: 'color: white;' do %>
          <% Chore.create_defaults(@flat.id) %>
          <p>Select from list</p>
          <% end %>
        </button>
      </div>
      </div>
    </div>
  </div>
</div>