<div class="footer" style="transform: scaleY(-1);">
  <svg xmlns="http://www.w3.org/2000/svg" width="300" height="150" viewBox="430 -500 2000 2000">
  <path class="animate" fill="#fff" stroke="red" d="M10 340 l0 -320 65 0 65 0 0 113 0 112 50 -3 50 -4 57 -108 57 -109
76 -3 c41 -2 76 -3 77 -3 1 0 -31 58 -72 128 l-74 128 35 31 c111 98 96 259
-29 325 -33 17 -129 34 -121 21 3 -4 9 -8 14 -8 5 0 21 -5 37 -12 31 -12 38
-15 53 -17 5 0 25 -15 44 -31 24 -21 38 -45 46 -79 17 -70 0 -124 -56 -180
-24 -24 -44 -46 -44 -49 0 -3 27 -54 60 -113 33 -59 60 -110 60 -114 0 -3 -21
-5 -46 -3 l-46 3 -48 95 c-27 52 -57 100 -66 107 -26 19 -120 17 -128 -3 -3
-9 -6 -58 -6 -110 l0 -94 -45 0 -45 0 0 310 c0 200 -4 310 -10 310 -6 0 -10
-113 -10 -320z"/>
<path class="animate" fill="#fff" stroke="red" d="M2640 626 c-50 -25 -86 -71 -96 -123 -8 -44 20 -118 52 -140 l25 -16
-39 -33 c-71 -60 -79 -162 -19 -231 48 -55 97 -73 197 -73 100 0 149 18 198
74 29 34 32 42 32 104 0 75 -22 124 -65 144 l-24 11 28 27 c83 77 56 212 -54
261 -60 28 -176 25 -235 -5z m200 -6 c28 -8 57 -25 77 -47 28 -29 33 -42 33
-84 0 -53 -11 -83 -41 -112 -27 -25 -24 -43 11 -68 34 -25 61 -86 56 -126 -13
-114 -132 -176 -288 -150 -36 6 -103 50 -124 82 -12 19 -15 41 -12 86 4 57 8
64 47 100 36 33 40 42 31 59 -6 11 -14 20 -18 20 -17 0 -42 61 -42 104 0 79
49 124 155 146 42 8 44 8 115 -10z"/>
<path class="animate" fill="#fff" stroke="red" d="M2700 549 c-17 -11 -37 -34 -45 -52 -12 -29 -11 -36 7 -68 46 -82
162 -79 202 5 15 32 15 37 0 69 -9 18 -25 39 -36 46 -34 21 -93 21 -128 0z
m127 -31 c43 -40 20 -108 -42 -124 -86 -21 -154 74 -89 125 36 29 100 28 131
-1z"/>
<path class="animate" fill="#fff" stroke="red" d="M2704 296 c-68 -30 -93 -99 -53 -150 60 -76 176 -74 223 4 20 36 20
65 0 100 -32 52 -107 73 -170 46z m137 -45 c33 -33 35 -50 14 -91 -31 -59
-139 -61 -185 -3 -27 35 -25 59 9 94 25 25 37 29 81 29 44 0 56 -4 81 -29z"/>
<path class="animate" fill="#fff" stroke="red" d="M132 558 c-16 -16 -16 -200 0 -216 21 -21 126 -15 164 9 44 27 54 47
54 104 0 37 -5 51 -27 72 -16 14 -38 29 -51 34 -34 13 -126 11 -140 -3z m121
-19 c21 -6 47 -19 58 -30 21 -21 26 -78 8 -111 -15 -28 -69 -48 -129 -48 l-50
0 0 100 0 100 38 0 c20 0 54 -5 75 -11z"/>
<path class="animate" fill="#fff" stroke="red" d="M735 491 c-61 -37 -174 -151 -185 -187 -8 -22 -11 -75 -8 -136 4 -98
4 -101 36 -129 l32 -29 191 0 191 0 29 29 29 29 0 128 0 127 -82 80 c-113 108
-167 129 -233 88z m108 -15 c18 -8 66 -46 107 -85 l75 -71 4 -97 c4 -116 -9
-170 -45 -183 -14 -6 -101 -10 -194 -10 -163 0 -170 1 -197 24 -26 23 -27 28
-29 122 0 55 3 111 8 125 10 30 146 158 186 176 35 16 46 16 85 -1z"/>
<path class="animate" fill="#fff" stroke="red" d="M774 383 c-11 -2 -45 -28 -74 -58 -52 -53 -54 -57 -58 -117 -3 -51 0
-68 14 -85 21 -24 33 -26 171 -24 114 1 123 8 123 92 0 83 -13 106 -104 177
-29 22 -33 23 -72 15z m105 -74 l52 -49 -3 -68 -3 -67 -119 -3 c-78 -2 -123 1
-132 9 -9 7 -14 31 -14 65 0 48 4 58 38 96 45 50 88 77 111 71 10 -3 42 -27
70 -54z"/>
<path class="animate" fill="#fff" stroke="red" d="M1313 494 c-17 -9 -67 -50 -111 -92 -58 -57 -81 -86 -86 -111 -11
-58 -7 -180 8 -215 26 -63 39 -66 251 -66 l191 0 30 31 c27 28 29 36 33 126 4
135 -4 158 -97 244 -106 99 -152 116 -219 83z m98 -15 c32 -17 59 -39 125
-104 l62 -60 1 -121 c2 -121 2 -122 -25 -143 -25 -20 -39 -21 -206 -21 -177 0
-179 0 -203 25 -24 23 -25 31 -25 132 1 66 5 116 13 130 16 29 132 134 171
155 36 20 60 22 87 7z"/>
<path class="animate" fill="#fff" stroke="red" d="M1335 378 c-45 -26 -106 -93 -115 -128 -14 -52 -7 -107 17 -131 18
-18 32 -20 130 -20 61 0 117 3 124 6 51 19 49 142 -3 201 -58 66 -116 93 -153
72z m94 -48 c65 -51 73 -67 69 -143 l-3 -62 -105 -3 c-151 -4 -150 -4 -150 69
0 33 5 69 10 80 11 20 106 99 120 99 5 0 31 -18 59 -40z"/>
<path class="animate" fill="#fff" stroke="red" d="M1900 499 c-14 -6 -37 -22 -52 -36 l-28 -27 0 32 0 32 -60 0 -60 0 0
-240 0 -240 65 0 65 0 0 154 c0 152 0 155 26 185 21 25 33 31 65 31 77 0 93
-43 87 -248 l-3 -122 65 0 65 0 -3 127 c-4 152 2 187 33 219 32 32 94 33 121
3 17 -19 19 -40 22 -185 l3 -164 66 0 65 0 -4 183 c-4 200 -9 221 -68 270 -61
52 -178 43 -235 -17 l-30 -32 -24 29 c-42 51 -119 70 -181 46z m122 -30 c13
-6 37 -25 54 -41 l31 -29 26 27 c40 40 76 55 133 57 37 1 58 -5 80 -20 58 -41
71 -93 70 -278 l-1 -140 -37 -3 -38 -3 -1 43 c-5 251 -9 278 -51 313 -43 36
-95 31 -139 -14 -34 -36 -39 -60 -39 -200 l0 -141 -40 0 -40 0 0 141 c0 158
-11 199 -61 224 -36 19 -50 19 -93 -1 -57 -28 -67 -60 -69 -219 l-2 -140 -37
-3 c-36 -3 -38 -1 -38 25 -1 25 -1 376 0 396 0 15 55 6 75 -13 l22 -21 56 30
c58 31 94 33 139 10z"/></svg></div>
