<div class="container w-50 mx-auto" data-controller="add-flatmates">
  <h1>Add flatmates here</h1>
  <ul style="padding: 0px" data-add-flatmates-target="lists">
    <% @users.each do |user| %>
      <%= render 'email_li', user: user %>
    <% end %>
  </ul>

  <%= render 'users/form', flat: @flat, user: @roommate %>
  <%= render 'confirm' %>
</div>

<%# should be able to lead us add_chores page after here %>

<!-- Button trigger modal -->
  <%= link_to "confirm", setup_chores_flat_path(@flat) %>

