<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80" class="d-block w-100" alt="...">
      <div id="carousel-caption-first" class="carousel-caption">
        <h1>Welcome to Room8</h1>
      </div>
      <div class="carousel-caption">
        <h5 class="carousel-header">Delegate chores to your liking</h5>
        <p class="carousel-paragraph">Quarrelling due to chores? Room8 can help you with that!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <img src="https://images.unsplash.com/photo-1503494282646-3aa0169653f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5 class="carousel-header">Do the chores you prefer! </h5>
        <p class="carousel-paragraph">Choose your preference on chores</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1607748838605-ebcbe8f15772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5 class="carousel-header">Track your chores</h5>
        <p class="carousel-paragraph">Never miss out on chores again</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%= render 'createflat' %>