<div class="container mx-auto w-50">
  <h1>Welcome to Room8</h1>
  <div class="card">
    <div class="card-body">
      <h2>Create your flat</h2>
      <%= simple_form_for @flat do |f| %>
        <%= f.input :name%>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <hr>

  <div class="card">
    <div class="card-body">
      <h2>Join a flat</h2>
    </div>
  </div>
</div>

