<h2>Rate your Chores</h2>

<% @preferences.each do |preference| %>
  <div class="rating_card">
    <h4><%= preference.chore.name %></h4>
    <i class="fa-light fa-face-smile fa-3x mx-1"></i>
    <i class="fa-light fa-face-meh fa-3x mx-1"></i>
    <i class="fa-light fa-face-frown fa-3x mx-1"></i>
    <%= preference.rating %>
  </div>
<% end %>

<%= link_to "room8 page", flat_path(@flat.first) %>
