<h1>Here is where we can ONLY rate our preferences</h1>
<h2>Ability to edit chores will be on a similar looking page but different link</h2>
<p>After assigning, we should land on room8 overall page where it will display all the users in flat, which is the show method in flats</p>
<%= link_to "room8 page", flat_path(@flat.first) %>
