// .btn-7 {
//   background: linear-gradient(
//     0deg,
//     rgba(255, 151, 0, 1) 0%,
//     rgba(251, 75, 2, 1) 100%
//   );
//   line-height: 42px;
//   padding: 12px;
//   border: none;
//   border-radius: 12px;
// }

// .btn-7:before,
// .btn-7:after {
//   position: absolute;
//   content: "";
//   right: 0;
//   bottom: 0;
//   background: rgba(251, 75, 2, 1);
//   box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
//     -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
//     7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
//   transition: all 0.3s ease;
// }
// .btn-7:before {
//   height: 0%;
//   width: 2px;
// }
// .btn-7:after {
//   width: 0%;
//   height: 2px;
// }
// .btn-7:hover {
//   color: rgba(251, 75, 2, 1);
//   background: transparent;
// }
// .btn-7:hover:before {
//   height: 100%;
// }
// .btn-7:hover:after {
//   width: 100%;
// }
// .btn-7 span:before,
// .btn-7 span:after {
//   position: absolute;
//   content: "";
//   left: 0;
//   top: 0;
//   background: rgba(251, 75, 2, 1);
//   box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
//     -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
//     7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
//   transition: all 0.3s ease;
// }
// .btn-7 span:before {
//   width: 2px;
//   height: 0%;
// }
// .btn-7 span:after {
//   height: 2px;
//   width: 0%;
// }
// .btn-7 span:hover:before {
//   height: 100%;
// }
// .btn-7 span:hover:after {
//   width: 100%;
// }

/* 7 */

.btn-orange {
  background-color: $mandarin-orange;
  border-radius: 5px;
  color: white;
  transition-duration: 0.4s ease;
  border-style: solid;
  border-width: 1px;
  border-color: $mandarin-orange;
}

.btn-orange:hover {
  background-color: white;
  color: $mandarin-orange;
  border-style: solid;
  border-width: 1px;
}

a:hover {
  color: $mandarin-orange;
}

.btn-mandarin {
  background-color: $mandarin-orange;
  color: white;
}
