.setup {
  h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: $red;
  margin-bottom: 1rem;
  }
}
.chores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  font-family: 'Archivo', sans-serif;;
}
.chore_card {
  padding: 10px;
  border-radius: 4px;
  background-color: $base-highlight;
  box-shadow: 2px 4px $shadow;
  text-align: center;
  h4 {
    font-size: 20px;
    color: #e0dcce;
    font-family: 'Inter', sans-serif;
  }
}

.chore_card_selected {
  padding: 10px;
  border-radius: 4px;
  background-color: $base;
  box-shadow: 2px 4px $shadow;
  text-align: center;
  h4 {
    font-size: 20px;
    color: gold;
    font-family: 'Inter', sans-serif;
  }
}
.chore_details {
  border-radius: 4px;
  background-color: $light-highlight;
  margin-bottom: 10px;
  padding: 6px;
  p {
    font-size: 14px;
    margin: 0;
    color: $base-highlight;
  }
}
.chore_details_selected {
  border-radius: 4px;
  background-color: $light;
  margin-bottom: 10px;
  padding: 6px;
  p {
    font-size: 14px;
    margin: 0;
    color: $base-p;
  }
}
.chore_edit_button {
  border-radius: 4px;
  background-color: $yellow;
  margin-bottom: 4px;
  padding: 6px;
  display: none;
  text-align: center;
  p {
    font-size: 14px;
    margin: 0;
    color: white;
  }
}
.chore_edit_button_display {
  border-radius: 4px;
  background-color: $yellow;
  margin-bottom: 4px;
  padding: 6px;
  text-align: center;
  p {
    font-size: 14px;
    margin: 0;
    color: white;
  }
}
