.chores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.chore_card_styling {
  padding: 10px;
  border-radius: 4px;
  background-color: $base-highlight;
  box-shadow: 2px 4px $shadow;
  h4 {
    font-size: 16px;
    color: #846d4d;
  }
}
.chore_details {
  border-radius: 4px;
  background-color: $light-highlight;
  margin-bottom: 10px;
  padding: 6px;
  p {
    font-size: 12px;
    margin: 0;
    color: $base-highlight;
  }
}
.chore_card_selected {
  padding: 10px;
  border-radius: 4px;
  background-color: $base;
  box-shadow: 2px 4px $shadow;
  h4 {
    font-size: 16px;
  }
}
.chore_details_selected {
  border-radius: 4px;
  background-color: $light;
  margin-bottom: 10px;
  padding: 6px;
  p {
    font-size: 12px;
    margin: 0;
  }
}
.chore_edit_button {
  border-radius: 4px;
  background-color: $orange;
  margin-bottom: 4px;
  padding: 6px;
  display: none;
  text-align: center;
  p {
    font-size: 12px;
    margin: 0;
    color: white;
  }
}
.chore_edit_button_display {
  border-radius: 4px;
  background-color: $orange;
  margin-bottom: 4px;
  padding: 6px;
  text-align: center;
  p {
    font-size: 12px;
    margin: 0;
    color: white;
  }
}
