@keyframes slide-up {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

.chore-tab {
  transform: translateY(150%);
  background-color: $tinted-coral;
  position: fixed;
  bottom: 0;
  width: calc(min(100vw, 390px));
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 100;
  margin: 0 auto;
  animation: 300ms slide-up 200ms forwards ease-in;

  // box-shadow: -1px -1px 2px rgba(0,0,0,.2)
  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-left: 0rem;
  }

  li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }

  ul > li > a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  ul > li > a > .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: $coral;
    margin-bottom: 4px;
  }

  ul > li.status > a > .icon {
    transform: translateY(-32px);
    color: white;
  }

  ul > li > a > .text {
    position: absolute;
    color: $coral;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
    margin-top: 8px;
  }

  ul > li.status > a > .text {
    opacity: 1;
    transform: translateY(20px);
    color: white;
    background-color: $orange;
    border-radius: 12px;
    padding: 4px 8px;
  }

  .indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fb723b;
    top: -50%;
    border-radius: 50%;
    border: 6px solid $body;
    transition: 0.5s;
  }

  .indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 $body;
  }
  .indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 $body;
  }
}

.chore-tab > ul > li:nth-child(1).status ~ .indicator {
  transform: translateX(calc(-216% * 1));
}
.chore-tab > ul > li:nth-child(2).status ~ .indicator {
  transform: translateX(calc(-72% * 1));
}
.chore-tab > ul > li:nth-child(3).status ~ .indicator {
  transform: translateX(calc(71% * 1));
}
.chore-tab > ul > li:nth-child(4).status ~ .indicator {
  transform: translateX(calc(212% * 1));
}
