// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "my_chores_cards";
@import "card";
@import "chore_card";
@import "form";
@import "modal";
@import "rating_card";
@import "notice";
@import "animate";
@import "cl_tab";
@import "carousel";
@import "buttons";

* {
  font-family: "Montserrat", sans-serif;

  // h1, h2, h3, h4 {
  //   font-family: 'Bebas Neue', cursive;
  // }
}

a {
  text-decoration: none;
  color: rgb(16, 16, 16);
}
