.swiper {
  width: 240px;
  height: 320px;
  margin: 0 auto;
  .swiper-slide {
    border-style: hidden;
    border-radius: 16px;
    box-shadow: inset 0px 0px 20px 2px #cccccc;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper2 {
  width: 240px;
  height: 320px;
  margin: 0 auto;
  .swiper-slide {
    border-style: hidden;
    border-radius: 16px;
    box-shadow: inset 0px 0px 20px 2px #cccccc;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper3 {
  width: 240px;
  height: 320px;
  margin: 0 auto;
  .swiper-slide {
    border-style: hidden;
    border-radius: 16px;
    box-shadow: inset 0px 0px 20px 2px #cccccc;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper4 {
  width: 240px;
  height: 320px;
  margin: 0 auto;
  .swiper-slide {
    border-style: hidden;
    border-radius: 16px;
    box-shadow: inset 0px 0px 20px 2px #cccccc;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: inset 0px 0px 20px 2px #cccccc;
}

.card-title h2 {
  text-align: center;
  padding-top: 8px;
}

.card-duration p {
  border-style: solid;
  margin-inline: 16px;
  padding: 8px;
  border-radius: 24px;
  background: #80808042;
  text-align: center;
}

.card-deadline {
  display: flex;
  .timing {
    text-align: center;
    padding: 4px;
    margin-top: 12px;
  }
  .edit-icon {
    padding-top: 24px;
    padding-left: 20px;
  }
}

.card-mark-complete {
  display: flex;
  justify-content: center;
  padding: 16px;
  .mark_message {
    margin-left: 12px;
    padding-top: 4px;
  }
}

.eded {
  // display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: -32px;
  left: 8px;
  padding: 24px;
  width: max-content;
  overflow: auto; /* Enable scroll if needed */
  background-color: #f4f4f4;
  border-style: outset;
  border-radius: 24px;
  border-width: thick;
  border-color: #00ffff4a;
  inline-size: max-content;
  text-align: -webkit-center;
}

.swiper-pagination3 {
  margin-top: 32px;
  padding-left: 112px;
}
