.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .swiper-slide {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
  }
}

.swiper2 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .swiper-slide {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
  }
}

.swiper3 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .swiper-slide {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
  }
}

.swiper4 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .swiper-slide {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
  }
}
