<div class="flat-chores-card">
  <div class="card-main">
    <h3><%= chore.name %></h3>
    <div class="card-info">
      <%= chore.duration %>
    </div>
    <div class="card-info">
      <%= chore.frequency %>
    </div>
  </div>
</div>
