<div class="container">
  <h1>My flat's chore</h1>
  <div class="row">
    <% @chores.each do |chore| %>
      <div class="col-6 my-2">
        <%= render partial: "flat_chore", locals: {chore: chore} %>
      </div>
    <% end %>
  </div>
</div>
