<h1>New chore page</h1>
<h2>Here we can use ajax to continuously create shores</h2>
<p>After creating all the chores, it should lead us to edit preferences</p>
<%= link_to "My preferences", preferences_path %>
